.contaier{
    height: 100vh;
    width: 100vw;
    background-color: #2a2b31;
    position: relative;
}

.pageContainer{
    margin-left: 20%;
    width: calc(80% - 100px);
    height: calc( 100vh - 100px);
    padding: 50px;
    /* background-color: red; */
}
.toplayer{
    height: 100px;
}

.topFirst{
    height: 40px;
    width: 40%;
    /* background-color: rosybrown; */
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 800;
    line-height: 43px;
}

.topSecond{
    width: 40%;
    float: left;
    position: relative;
}

.searchIcon{
    position: absolute;
    height: 20px;
    width: 20px;
    /* background-color: red; */
    top: 11px;
    right: 35px;
}

.topThird{
    height: 43px;
    width: 20%;
    background-color: slateblue;
    float: left;
    border-radius: 25px;
    color:white;
    line-height: 43px;
    text-align: center;
    position: relative;
    /* padding-left: 10px; */
}

.plusIcon{
    position: absolute;
    height: 20px;
    width: 20px;
    /* background-color: red; */
    top: 11px;
    left: 28px;
}

.downArrow{
    height: 12px;
    width: 20px;
    padding-left: 8px;
}

.inputTextFull{
    /* padding: 5px; */
    display: inline-block;
    border: 0.5px solid  #373840;
    border-radius: 25px;
    font-size: 13px;
    height: 40px;
    width: 95%;
    background-color: #373840;
    /* border-color: #373840; */
    color: white;   
}

.inputTextFull::placeholder {
    padding-left: 30px;
    color: gray;
    opacity: 1; /* Firefox */
}
  
.inputTextFull :-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 30px;
    color: gray;
}
  
.inputTextFull ::-ms-input-placeholder { /* Microsoft Edge */
    padding-left: 30px;
    color: gray;
}

.tableHeader{
    height: 50px;
    background-color: #454757;
}

.tableHeaderIteam{
    height: 50px;
    width:calc( 20% - 30px);
    color: white;
    float: left;
    padding-left: 30px;
    line-height: 50px;
}

.addNewAccountLabel{
    padding-left: 30px;
}